[bumpversion]
commit = True
tag = True
current_version = 0.0.1

[bumpversion:file:robojock/__init__.py]
search = {current_version}
replace = {new_version}

[bumpversion:file:pyproject.toml]
search = {current_version}
replace = {new_version}
